<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958839448532-f3bui727ipbkg0rmv9ql8ff5bih6ev67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958839448532-f3bui727ipbkg0rmv9ql8ff5bih6ev67</string>
	<key>API_KEY</key>
	<string>AIzaSyDOAtYCPmFx5caueRZBBwHNhSE6s0cfu3k</string>
	<key>GCM_SENDER_ID</key>
	<string>958839448532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homework.week-2-part-3</string>
	<key>PROJECT_ID</key>
	<string>youbike-2c47f</string>
	<key>STORAGE_BUCKET</key>
	<string>youbike-2c47f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:958839448532:ios:097b8808a586b2c6</string>
	<key>DATABASE_URL</key>
	<string>https://youbike-2c47f.firebaseio.com</string>
</dict>
</plist>